body {
  color: #f8f8f8;
  background-color: #111;
}

.vis {
  height: 50vh;
}

.tornado-path {
  stroke-width: 2px;
}

.key-svg {
  width: 25%;
  height: 40vh;
}

.check-box {
  stroke: #000;
  stroke-width: 2px;
  cursor: pointer;
}

.graph-svg {
  width: 100%;
  height: 100%
}

.graph-axis{
  stroke: #fff;
  stroke-width: 2px;
  fill: none;
}

.graph-axis text{
  fill: #f8f8f8;
  stroke: none;
}

.compass-svg {
  width: 100%;
  height: 100%
}

.axis-line {
  opacity: 0.1;
}

.svg-text {
  font-size: 16px;
  fill: #fff;
}
