.start-of-page{
  margin-top: 50px;
}

#map {
  height: 50vh;
}

.tornado-path {
  stroke-width: 2px;
}

.key-svg {
  width: 100%;
  height: 40vh;
}

.key-title{,
  alignment-baseline: central;
  font-weight: bold;
}

.check-box {
  stroke: #000;
  stroke-width: 2px;
}

.compass-svg {
  width: 100%;
  height: 40vh;
}

.axis {
  opacity: 0.6;
}
